<div class="tableWrapper">

	<div class="row">
		<div class="col-6">
				<h3>KPI By Work Centers</h3>
		</div>
		<div class="col-6">
				<div class="table-tools">
						<button
                 mat-button>
								<i class="material-icons">
									search
								</i>
            </button>

						<button class="export"
                 mat-raised-button>
                Export
            </button>
						
					</div>
		</div>
	</div>


		<div class="table-container">
			<table #dataTable class="display" style="width:100%">

			</table>
		</div>

</div>
