<mat-tab-group animationDuration="0ms">
    <mat-tab label="Therapeutic Area" active>
        <app-therapeutic-area></app-therapeutic-area>
    </mat-tab>
    <!-- <mat-tab label="Work Center">
        <app-work-center></app-work-center>
    </mat-tab> -->
    <mat-tab label="Agent">
        <app-agent-settings></app-agent-settings>
    </mat-tab>
    <!-- <mat-tab label="Agent Role"> 
        <app-agent-role></app-agent-role>
    </mat-tab>
    <mat-tab label="Agent Type"> 
        <app-agent-type></app-agent-type>
    </mat-tab> -->
    <mat-tab label="Assignments">
        <app-assignments></app-assignments>
    </mat-tab>
</mat-tab-group>