<!-- main app container -->
<!-- 
<div class="container">
    <div class="row">
        <div style="margin-top:0px;margin:40px;overflow:hidden">
            <h4 style="margin-top: 0px;margin-left:2Rem">Add Work Center</h4>
            <form [formGroup]="userAddressValidations" (ngSubmit)="onSubmit(userAddressValidations)">

                <mat-form-field class="dropdown">
                    <mat-label class="label">Therapeutic Area</mat-label>
                    <!-- <mat-select [(value)]="selected1" style="font-size: 13px;color: #525672;">
                        <mat-option value="all">All</mat-option>
                        <mat-option value="AATE">AATE</mat-option>
                        <mat-option value="BioOncology">BioOncology</mat-option>
                        <mat-option value="Breast">Breast</mat-option>
                        <mat-option value="Influenza">Influenza</mat-option>
                        <mat-option value="HemeOnc">HemeOnc</mat-option>
                        <mat-option value="Hemophilia">Hemophilia</mat-option>
                        <mat-option value="Lytics">Lytics</mat-option>
                    </mat-select> -->
                    <!--<mat-select formControlName="taname" name="taname" style="font-size: 13px;color: #525672;">
                        <mat-option *ngFor="let ta of taDataArray" [value]="ta">
                          {{ta.taName}}
                        </mat-option>
                  </mat-select>
                </mat-form-field>
                
                <mat-form-field class="dropdown">
                    <mat-label class="label">Agent Role</mat-label>
                    <mat-select formControlName="agentrole" style="font-size: 13px;color: #525672;">
                        <mat-option *ngFor="let arole of agentRoleViewDataArray" [value]="arole">{{arole.agentRole}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Unit of Work</mat-label>
                    <input matInput required formControlName="unitofwork">
                    <mat-error *ngIf="userAddressValidations.get('unitofwork').hasError('required')">
                            Unit of Work is required
                        </mat-error>
    
                        <mat-error *ngIf="userAddressValidations.get('unitofwork').hasError('pattern')">
                            Special characters/Numbers are not allowed
                        </mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Target Utilization</mat-label>
                    <input matInput required>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Target Attendance</mat-label>
                    <input matInput required>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Shift Length</mat-label>
                    <input matInput required>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Threshold OT</mat-label>
                    <input matInput required>
                </mat-form-field>
                <div>
                    <button style="background-color: #e0817f;color: white" class="form-group" mat-raised-button color="warn">Submit</button>

                    <button style="margin-left: 3Rem;background-color:#ffae00;color:white;" mat-raised-button
                        (click)="onNoClick()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div> -->