<!-- main app container -->

<div class="container">
    <div class="row">
        <div style="margin-top: 0px;margin:40px">
            <p style="font-size: 15px;font-weight: bold;margin-top: 0px">Edit Therapeutic Area</p>
            <form [formGroup]="userAddressValidations" (ngSubmit)="onSubmit(userAddressValidations)">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label style="font-size: 14px">Therapeutic Area</mat-label>
                        <input matInput formControlName="TA" [(ngModel)]="localData.taname">
                        <mat-error *ngIf="userAddressValidations.get('TA').hasError('required')">
                            <span style="font-size: 13px">Therapeutic Area is required</span>
                        </mat-error>

                        <mat-error *ngIf="userAddressValidations.get('TA').hasError('pattern')">
                            <span style="font-size: 13px">Special characters/Numbers are not allowed</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <p style="color:green">{{errormessage}}</p>
                <div>
                    <button style="background-color: #e0817f;color: white" class="form-group" mat-raised-button
                        color="warn">Save</button>

                    <button style="margin-left:2Rem;background-color:#ffae00;color:white;" mat-raised-button
                        (click)="onNoClick()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>