<div class="row">
  <div class="col-6">
      <div class="data-view-menu">
          <a [routerLink]="['/kpi/work-center']" class="button" routerLinkActive="active" >
            Work Center
          </a>
          <a [routerLink]="['/kpi/team']" class="button" routerLinkActive="active" >
            Team
          </a>
      </div>
  </div>
  <div class="col-6">
    <div class="table-tools">


      <button class="export-button">
        <i class="la la-download"></i> Export
      </button>

      <mat-form-field>
        <input matInput [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>

      <!-- <form class="form-inline datepicker-wrapper">
        <div class="form-group">
          <div class="input-group">
          <input class="form-control" placeholder="Today: Jan 31" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-primary" (click)="d.toggle()" type="button">
            <i class="la la-angle-down"></i>
            </button>
          </div>
          </div>
        </div>
        </form> -->


    </div>
  </div>
</div>



<router-outlet></router-outlet>



