:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
		color: #434343;

		button:focus {
			outline: none;
		}

		.row.gray {
			background-color: #E4E4E4;
			margin: 0;
			[class^="col"] {
				padding: 0;
			}
		}

		.date-control {
			display: inline-block;
			margin: 0px 24px;
			span.current-date {
				margin-right: 12px;
			}
			button {
				background-color: #69CAD7;
				padding: 0px 0px;
				min-width: 40px;
				margin: 0px 4px;
			}
		}

		.mat-progress-bar {
			.mat-progress-bar-fill::after {
				background-color: #98DFCC;
			}
		
		 .mat-progress-bar-buffer {
				background: #E4E4E4;
			}

			&.mat-warn {
				.mat-progress-bar-fill::after {
					background-color: #E98494;
				}
			
			 .mat-progress-bar-buffer {
					background: #E4E4E4;
				}
			}

		}

		.mat-select-value {
			padding-top: 0.5Rem !important;
			padding-left: 0.5Rem;
		}
		.mat-select-trigger {
			padding-right: 0.5Rem;
		}

		.data-view-menu {
			
			display: flex;
			.button {
				white-space: nowrap;
				background-color: transparent;
				height: 60px;
				width: 175px;
				line-height: 30px;
				padding: 15px;
				text-decoration: none;
				color: #434343;
				font-size: 14px;
				text-align: center;
				&.active {
					background-color: #FF9492;
					// color: white;
				}
			}
		}


		.table-tools {
			float: right;
			display: flex;
			height: 100%;
			align-items: center;
			button {
				margin-left: 1.5Rem;

				&.export {
					background-color: #69cad7;
					color: white;
				}
			}


			.datepicker-wrapper {


				input {
					border-radius: 21px;
					background-color: #FFFFFF;
					font-size: 14px;
					font-weight: 600;
					color: #716ACA;
					width: 160px;
					height: 42px;
				}

				.input-group-append {
					position: absolute;
					right: 5px;
					top: 0;
					bottom: 0;
					margin: auto 0;
					height: 32px;
					z-index: 6;

					.btn {
						width: 32px;
						height: 32px;
						border-radius: 50%;
						text-align: center;
						padding: 0;
						background: #716ACA;

						i {
							color: white;
							width: 14px;
							height: 14px;
							display: block;
							line-height: 16px;
							margin: 0 auto;
							font-size: 14px;
						}

					}
				}


			}
		}



		.capacity {
			position: absolute;
			right: 20px;
			top: 23px;
			font-size: 16px;
			font-weight: 600;

			> span {
				background: #00C5DC;
				display: inline-block;
				padding: 5px 20px;
				border-radius: 16px;
				color: white;
				font-weight: 400;
			}
		}

		.dataTables_wrapper .dataTables_paginate .paginate_button {
			width: 32px;
			height: 32px;
			background: transparent;
			font-size: 14px;
			color: #575962;
			transition: all 0.2s linear;
			-webkit-appearance: none;
			padding: 0;
				line-height: 32px;
			text-align: center;
			margin: 0px 2px;
			cursor: pointer;
			vertical-align: middle;

			i {
				vertical-align: middle;
			}
		
			&.current {
				background: #FF9492 !important;
				color: #fff !important;
			}
		
			&.previous, &.next {
				background-color: #D8D8D8;
			}
		
		}

		.dataTables_wrapper .dataTables_paginate span {
			vertical-align: middle;
		}
		
		
		
		.tableWrapper {
			background-color: #F9F6F2;
			// box-shadow: 0 1px 15px 0 rgba(69,65,78,0.08);
			// overflow-x: scroll;
			// overflow-y: hidden;
		
		
			h3 {
				font-size: 18px;
				color: #575962;
				font-weight: 500;
				margin: 26px 16px;
			}
			
		}
		
		
		
		
		.dataTables_wrapper .dataTable th {
			background-color: #E4E4E4;
		}

		.dataTables_wrapper {
			overflow-x: auto;
			overflow-y: hidden;
		}
		
		.dataTables_wrapper .dataTable {
			margin: 0px !important;
			border-bottom: none !important;
			thead {
				th {
					padding: 18px;
					color: #575962;
					font-size: 12px;
					line-height: 21px;
					font-weight: 600;
					border-bottom: none;
					white-space: nowrap;
				}
			}
		
			td {
				border-top: none !important;
				padding: 8px;
				color: #575962;
				font-size: 14px;
				line-height: 21px;
				font-weight: 400;
				white-space: nowrap;

				&.child-row {
					padding: 0px;
				}
			}
		
		
			tbody {
		
		
				tr {
		
					&.odd {
						background-color: #F9F6F2;
					}
					&.even {
						background-color: #F9F6F2;
					}
		
					&.child-row {
						padding: 0px;
						background-color: #fff;
						&:hover {
							background-color: #fff;
						}
					}
				}
		
		
			}
		
		
			.details-control {
				max-width: 30px;
				cursor: pointer;
				user-select: none;
				i {
					color: #69CAD7;
					font-size: 28px;
					vertical-align: middle;
					line-height: 8px;
					transition: transform 0.3s ease-out;
				}
		
		
				&.open {
					i {
						transform: rotate(90deg);
					}
				}
			}
		
			.status {
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
		
				&.good {
					color: #98DFCC;
				}
				&.bad {
					color: #E98494;
				}
			}
		
		
			.inner-table-wrapper {
				background-color: #FFFFFF;
				box-shadow: 0 0 60px 0 rgba(0,0,0,0.08);
				padding: 24px;
				position: relative;
				table {
					padding: 0;
					thead {

						th {
							background-color: white;
							padding: 12px;
							border-bottom: 1px solid rgba(151, 151, 151, 0.1);
							border-top: 1px solid rgba(151, 151, 151, 0.1);
						}
					}
					tbody {
						tr {
							td, .sorting_1 {
								background-color: white;
							}
							&:hover {
								td, .sorting_1 {
									background-color: rgba(255,148,146,0.35);
								}
							}
						}
					}

					
				}
		
				.dt-buttons {
					position: absolute;
					right: 160px;
					top: -60px;
		
					.dt-button-collection {
						width: 100%;
						box-shadow: 0 15px 60px 0 rgba(33,31,65,0.2);
		
		
					}
					button.dt-button.buttons-collection.buttons-colvis {
						outline: none;
						border: none;
						padding: 10px 16px;
						border-radius: 4px;
						background-color: #716ACA;
						color: white;
					}
		
					button.dt-button.buttons-columnVisibility {
						background: white;
						outline: none;
						border: none;
						text-align: left;
						padding: 10px 5px;
						width: 100%;
		
						&:before {
							content: "\f18a";
							display: inline-block;
							font: normal normal normal 16px/1 "LineAwesome";
							font-size: inherit;
							text-decoration: inherit;
							text-rendering: optimizeLegibility;
							text-transform: none;
							-moz-osx-font-smoothing: grayscale;
							-webkit-font-smoothing: antialiased;
						}
		
						&.active {
							&:before {
								content: "\f17c";
							}
						}
					}
		
				}
			}
		
		
			.tabs-selector {
				display: flex;
				margin: 10px 0px;
		
				.tab {
					display: block;
					padding: 12px 40px;
					// width: 130px;
					color: #3D3B56;
					font-size: 14px;
					text-align: center;
					background: white;
					transition: all 0.2s linear;
					cursor: pointer;
					background-color: #EEF0F1;
					margin-right: 12px;
					&.active {
						background: #69CAD7;
						// color: white;
					}
				}
			}
		}



		.user-stats {
			display: flex;
			height: 100%;
			align-items: center;
			text-align: right;
			float: right;
		}
		.stat {
			.label {
				color: #575962;
				font-size: 14px;
				margin-right: 4px;
				display: inline-block;
			}
	
			.value {
				color: #575962;
				// background-color: #00C5DC;
				// border-radius: 20px;
				font-size: 14px;
				font-weight: bold;
				// text-align: center;
				display: inline-block;
				// padding: 2px 26px;
				display: inline-block;
				margin-right: 24px;
			}
		}

		.stats {
      display: flex;
      justify-content: flex-end;

      .stat {
        padding: 12px;
        width: 100%;
        max-width: 120px;

        &:last-child {
          border-right: none;
        }

        .value {
          font-weight: 600;
          font-size: 18px;
          line-height: 18px;
          display: block;
        }
        .title {
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          margin-bottom: 4px;
        }
      }

      .progress-bar {
        &.bg-success {
          background-color: #69CAD7;
        }
      }
    }
		.mat-select-trigger {
			height: 2.2Rem;
		}
		
	}
}



