table {
    width: 100%;
}
th{
	font-size :13px;
	background-color: #e6e6e6;
    color:  #333333;
    border: transparent;
    margin-left: 0Rem !important;
}
td{
    font-size:12px;
    background-color: #f9f6f2;
    margin-left: 0Rem !important;
}

button:focus 
{
    outline:0;
}

td.mat-cell {
    border-bottom-style: none;
}

th.mat-header-cell{
    border-bottom-style: none;
}

.btn:hover {
    background-color: #69cad7;
}

.btn-icon:hover {
    color: #69cad7;
}
.btn-icon:active {
    color: #69cad7;
}