<div class="tableWrapper">
		<div class="row">
				<div class="col-6">
						<h3>KPI By Team</h3>
				</div>
				<div class="col-6">
						<div class="table-tools">
		
							<mat-form-field>
								<input matInput [matDatepicker]="myDatepicker">
								<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
								<mat-datepicker #myDatepicker></mat-datepicker>
							</mat-form-field>
	
							<button style="float: right;margin-right: 1.5Rem;background-color: #69cad7;color: white"
									 mat-raised-button>
									Export
							</button>
					
					
							</div>
				</div>
			</div>

	<div class="table-container">
		<table #dataTable class="display" style="width:100%">

		</table>
	</div>

</div>
