table {
    width: 100%;
}
th{
	font-size :13px;
    background-color: #e6e6e6;
    color:  #333333;
}
td{
    font-size:13px;
    
}
.mat-form-field {
    font-size: 14px;
    width: 10%;
}

button:focus 
{
    outline:0;
}


.btn:hover {
    background-color: #69cad7;
}

.btn-icon:hover {
    color: #69cad7;
}
.btn-icon:active {
    color: #69cad7;
}