<mat-form-field class="dropdown">
	<mat-select [(value)]="selected">
		<mat-option value="all">All</mat-option>
		<mat-option value="AATE">AATE</mat-option>
		<mat-option value="BioOncology">BioOncology</mat-option>
		<mat-option value="Breast">Breast</mat-option>
		<mat-option value="Influenza">Influenza</mat-option>
		<mat-option value="HemeOnc">HemeOnc</mat-option>
		<mat-option value="Hemophilia">Hemophilia</mat-option>
		<mat-option value="Lytics">Lytics</mat-option>
	</mat-select>
</mat-form-field>
