
<!-- main app container -->
<p style="margin-left: 2.7Rem; font-size: 15px; font-weight: bold;margin-bottom: 10px" cdkFocusInitial>Edit Agent</p>
<div class="container">
    <div class="row">
        <div style="overflow:auto">
            <form [formGroup]="agentValidations" (ngSubmit)="onSubmit(agentValidations)">
                <div class="form-group">
                    <ul>
                        <li>
                            <mat-form-field>
                                <mat-label style="font-size: 14px;"> First Name </mat-label>
                                <input matInput [(ngModel)]="localData.firstName" formControlName="firstName" style="width:100px">
                                <mat-error style="font-size: 13px;" *ngIf="agentValidations.get('firstName').hasError('required')">
                                    First Name is required
                                </mat-error>
                                <mat-error  style="font-size: 13px;" *ngIf="agentValidations.get('firstName').hasError('pattern')">
                                    Special characters/Numbers are not allowed
                                </mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Team</mat-label>
                                <br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                        <li>
                            <mat-form-field>
                                <mat-label style="font-size: 14px;"> Last Name </mat-label>
                                <input matInput [(ngModel)]="localData.lastName"  formControlName="lastName" style="width:100px">
                                <mat-error  style="font-size: 13px;"  *ngIf="agentValidations.get('lastName').hasError('required')">
                                    Last Name is required
                                </mat-error>
                                <mat-error  style="font-size: 13px;"  *ngIf="agentValidations.get('lastName').hasError('pattern')">
                                    Special characters/Numbers are not allowed
                                </mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Home Pod</mat-label><br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                        <li>
                            <mat-form-field>
                                <mat-label style="font-size: 14px;"> Unix ID </mat-label>
                                <input matInput formControlName="unixId" [(ngModel)]="localData.agentUnixId" style="width:100px">
                                <mat-error style="font-size: 13px;" *ngIf="agentValidations.get('unixId').hasError('required')">
                                    Unix ID is required
                                </mat-error>
                                <mat-error style="font-size: 13px;"  *ngIf="agentValidations.get('unixId').hasError('pattern')">
                                    Special characters are not allowed
                                </mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Shift</mat-label>
                                <br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                        <li>
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Proficiency</mat-label>
                                <br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                        <li style="margin-bottom: 0.2Rem">
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Role</mat-label>
                                <br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                        
                        <li>
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Supervisor</mat-label><br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                        <li style="margin-bottom: 0.2Rem">
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Location</mat-label>
                                <br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                        
                        <li>
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Therapeutic Area</mat-label>
                                <br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                        <li style="margin-bottom: 0.2Rem">
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Payroll Type</mat-label>
                                <br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                        
                        <li>
                            <!-- <mat-form-field class="dropdown"> -->
                                <mat-label class="label" style="font-size: 14px;">Work Center</mat-label><br>
                                <mat-select [(value)]="selected" style="font-size: 13px;background-color: #eef0f1;">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="Influenza">Influenza</mat-option>
                                    <mat-option value="HemeOnc">HemeOnc</mat-option>
                                    <mat-option value="Hemophilia">Hemophilia</mat-option>
                                    <mat-option value="Lytics">Lytics</mat-option>
                                </mat-select>
                            <!-- </mat-form-field> -->
                        </li>
                    </ul>
                </div>
                <div>
                    <button style="background-color:#e0817f;color:white;margin-left:16Rem" mat-raised-button
                        class="form-group" (click)="onAddAgent()" class="btn">Submit</button>

                    <button style="margin-left: 3Rem;background-color:#ffae00;color:white;" mat-raised-button
                        (click)="onNoClick()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>