.date-control {
	margin-bottom: 24px;
	.date-prev, .date-next {
		background-color: #F4F5F8;
		display: inline-block;
		margin: 0;
		padding: 10px 16px;
		line-height: 20px;
		cursor: pointer;
	}
	.date-prev {
		border-radius: 4px 0 0 4px;

	}
	.date-next {
		border-radius: 0 4px 4px 0;

	}
	.date-today {
		cursor: pointer;
		background-color: #F4F5F8;
		border-radius: 4px;
		margin: 0px 20px;
		display: inline-block;
		padding: 10px 16px;
		line-height: 20px;
		font-size: 14px;
		font-weight: 500;
	}
	.current-date {
		font-size: 18px;
		font-weight: 500;
		display: inline-block;

	}
}



.fc-time-grid .fc-event, .fc-time-grid .fc-bgevent {
  position: absolute;
  z-index: 1;
}
.fc-time-grid .fc-event-container {
  position: relative;
  z-index: 4;
}
.fc-time-grid .fc-content-col {
  position: relative;
}
.fc-time-grid .fc-content-skeleton {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}


.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
left: 0;
right: 0;
bottom: 0;
height: 8px;
overflow: hidden;
line-height: 8px;
font-size: 11px;
font-family: monospace;
text-align: center;
cursor: s-resize; }

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after {
content: "="; }

/* resizer (touch device) */
.fc-time-grid-event.fc-selected .fc-resizer {
/* 10x10 dot */
border-radius: 5px;
border-width: 1px;
width: 8px;
height: 8px;
border-style: solid;
border-color: inherit;
background: #fff;
/* horizontally center */
left: 50%;
margin-left: -5px;
/* center on the bottom edge */
bottom: -5px; }

tr.fc-minor[data-time*="5:00"] td {
border-color: transparent;
}

.fc-scroller {
 overflow-y: hidden !important;
}

.fc-time-grid .fc-content-col {
  position: relative;
  padding: 0;
}

// .fc-now-indicator {
//   position: absolute;
//   border: 0 solid red;
//   left: 0;
//   right: 0;
//   border-top-width: 1px;
// }

.fc-unthemed .fc-axis {
  padding: 0;
}

.fc-time-grid .fc-slats td {
  height: 20px;
  border-bottom: 0;
}


.fc-widget-content {
  position: relative;
}
.add-event-buttons {
  display: flex;
  height: 200%;
  position: relative;
  position: absolute;
  width: 100%;
}

.add-event {
  width: 100%;
  height: 100%;
  background: #FFC75F;
  position: relative;
  opacity: 0;
  transition: 0.1s linear;
  z-index: 1;
  border: 1px solid #ebedf2;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.055);
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &:after {
    content: '+';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

&.open {
  opacity: 1;
}

  .menu {
    position: absolute;
  }
}

.agent-information {
  display: flex;
  margin-bottom: 32px;
  .info {
    margin-right: 36px;
    .title {
      font-size: 12px;
      display: block;
    }
    .value {
      display: block;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.schedule-wrapper {
  background-color: #FFFFFF;
  box-shadow: 0 1px 15px 0 rgba(69,65,78,0.08);

  .schedule-header {
    // border-bottom: 1px solid #ebedf2;
    padding: 12px;
    .stats {
      display: flex;
      justify-content: flex-start;

      .stat {
        padding: 12px;
        width: 100%;
        max-width: 120px;


        border-right: 1px solid #ebedf2;

        &:last-child {
          border-right: none;
        }

        .value {
          font-weight: 600;
          font-size: 15px;
          line-height: 10px;
          display: block;
        }
        .title {
          font-weight: 400;
          font-size: 12px;
          line-height: 10px;
          margin-bottom: 8px;
        }
      }

      .progress-bar {
        &.bg-success {
          background-color: #69CAD7;
        }
      }
    }

    .right-buttons {
      float: right;
    }
  }
}

.calendar-wrapper {

  .event-prep {
    background-color: #96DAE3;
  }
  .event-production {
    background-color: #98DFCC;
  }
  .event-meeting {
    background-color: #BEC1FA;
  }
  .event-break {
    background-color: #FAE9BE;
  }
  .event-staff {
    background-color: #DF9898;
  }
  .event-training {
    background-color: #BEC1FA;
  }
  .event-rotation {
    background-color: #BEC1FA;
  }
  .event-non-prod {
    background-color: #BEC1FA;
  }
  .event-team-engagement {
    background-color: #BEC1FA;
  }
  .event-absence-planned {
    background-color: #BEC1FA;
  }
  .event-absence-unplanned {
    background-color: #BEC1FA;
  }


  .fc-unthemed .fc-toolbar {
    display: none;
  }

  .fc-head-container {
    border-left: none;
    border-right: none;
  }

  .fc-body > tr > .fc-widget-content {
    border-left: none;
  }

  .fc-widget-content:last-child {
      border-right: none;
  }
  .fc-unthemed .fc-axis {
    padding: 0;
    width: 200px !important;
    text-align: right;
    vertical-align: middle;
    padding-right: 20px;
    box-sizing: border-box;
    border-left: none;

    > span {
      font-size: 0.9rem;
      transform: translateY(75%);
      display: block;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.3rem;
    }
  }
  .fc-unthemed th.fc-day-header {
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 10px;
    position: relative;

    .day-menu {
      opacity: 0;
      position: absolute;
      right: 0px;
      top: 0;
      bottom: 0;
      height: 24px;
      line-height: 24px;
      margin: auto 0;
      cursor: pointer;
      &.open {
        opacity: 1;
      }
    }

    &:hover {
      .day-menu {
        opacity: 1;
      }
    }
  }
  th.fc-day-header.fc-widget-header.fc-today {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 9px;
      background: #69CAD7;
    }
  }

  .fc-event {
  transition: background-color 0.2s linear;
    .fc-content {

      padding: 0.55rem;
      &:before {
        display: none;
      }
  }

  &.change-menu-open {
    background-color: #FFC75F;
  }
  }

  .past-event {
    opacity: 0.5;
  }




}


.schedule-details {


  .schedule-reports {

    .dataTables_wrapper .dataTable td {
        border-top: none !important;
        padding: 0px;
        color: #575962;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        text-align: center;
        height: 56px;
    }
    .dataTable {
      margin: 0 !important;
      border-top: 1px solid #ebedf2;


      td {
        border-top: none !important;
        padding: 0px;
        color: #575962;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        width: auto;
    box-sizing: content-box;
  //   height:

        &:first-child {
          width: 160px !important;
          max-width: 200px;
          border-right: 1px solid #ebedf2;
          font-size: 13px;
          font-weight: 600;
          padding: 0px 20px;
          text-align: right;

        }

        .mat-form-field {
          text-align: center;
          width: 100%;
          padding: 0px 10px;
        }

        .mat-form-field-infix {
          width: 100%;
        }

        .table-blank {
          display: block;
          position: relative;
          flex: auto;
          min-width: 0;
          width: 38px;
          margin: 0 auto;
          text-align: center;
        }
      }

      tbody tr.even {
        background: white;
      }
    }
    .dataTables_wrapper thead {
      display: none;
    }
    .dataTables_wrapper tbody {
      // border-top: 1px inset #ebedf2 !important;
    }

    .table-blank {
      display: block;
      position: relative;
      flex: auto;
      min-width: 0;
      width: 180px;
    }
  }


  .mat-expansion-panel {
    box-shadow: none;
    border: none;
    border-radius: 0px;

    .mat-expansion-panel-header {
      padding: 0px 32px;
      position: relative;
      height: 32px;
      border-top: 1px solid #ebedf2;
      user-select: none;

      &:before {
        content: '';
        border-right: 1px solid #ebedf2;
        position: absolute;
        width: 201px;
        left: 0px;
        height: 100%;
      }

      .mat-expansion-panel-header-title {
        font-weight: 600;
        font-size: 14px;
      }

      .mat-expansion-indicator  {
        position: absolute;
        left: 12px;
        line-height: 5px;
      }
    }

    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}
